* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.main-div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-div {
  width: 100%;
  height: 80vh;
  background: -webkit-gradient(left, #5dade2, #00c6ff);
  padding: 20px 0 0 0;
  box-shadow: 0 10px 28px 0 rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}
h1 {
  font-size: 18px;
  color: blue;
  text-align: center;
  margin-bottom: 10px;
}
table {
  border-collapse: collapse;
  background-color: lavender;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  margin: auto;
}
th,
td {
  border: 1px solid #f2f2f2;
  padding: 8px 30px;
  text-align: center;
  color: gray;
}
th {
  text-transform: uppercase;
  font-weight: 500;
}
td {
  font-size: 13px;
}
.post-class {
  text-transform: uppercase;
}
.fa {
  font-size: 18px;
}
.fa-edit {
  color: #63c76a;
}
a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
}
